<h1>DUNGEONS & DRAGONS</h1>

<li><a href="/campaigns">Campaign List</a></li>
<li><a href="/dungeon-masters/new">New Adventure</a></li>

<h2>Dungeon Masters</h2>

<% @dms.each do |dm| %>
  <p>Name: <%= dm.dm_name %></p>
  <p>Campaign: <%= dm.campaign.campaign_name%></p>
  <p>Level Req: <%= dm.min_level%></p>
  <p>Max level: <%= dm.max_level %></p>
  <a href="/dungeon-masters/<%= dm.id %>">Show Adventure</a>
  <br>
  <br>
<% end %>
