<h1>DUNGEONS & DRAGONS</h1>

<h2>Welcome, almighty one!</h2>
<h2>What can this lowly servant help you with?</h2>
<br>
<h3><%= @dm.dm_name.capitalize %></h3>
<p>Campaign: <%= @dm.campaign.campaign_name %></p>
<p>Level Req: <%= @dm.min_level %></p>
<p>Max Level: <%= @dm.max_level %></p>

<h3><a href="/dungeon-masters/<%= @dm.id %>/add-table">Create Table</a></h3>
<h3><a href="/dungeon-masters/<%= @dm.id %>/table">Show Table</a></h3>
<h4><a href="/dungeon-masters/<%= @dm.id %>/edit">Update Details</a></h4>
<form action="/dungeon-masters/<%= @dm.id %>/delete" method="post">
  <input type="submit" value="Delete Campaign">
</form>
