<form action="/characters/<%= @character.id %>" method="post">

  <label for="player-name">Player Name:</label>
  <input type="text" name="player_name" id="player-name" value="<%= @character.player_name %>"/>

  <br>

  <label for="character-name">Character Name:</label>
  <input type="text" name="character_name" id="player-name" value="<%= @character.character_name %>"/>

  <br>

  <label for="race">Select Race:</label>
  <select name="race" id="race">
    <option value="Human"<%= "selected" if @character.race == "Human" %>>Human</option>
    <option value="Half-Elf"<%= "selected" if @character.race == "Half-Elf" %>>Half-Elf</option>
    <option value="Half-Orc"<%= "selected" if @character.race == "Half-Orc" %>>Half-Orc</option>
    <option value="Drawf"<%= "selected" if @character.race == "Drawf" %>>Drawf</option>
    <option value="Tiefling"<%= "selected" if @character.race == "Tiefling" %>>Tiefling</option>
    <option value="Gnome"<%= "selected" if @character.race == "Gnome" %>>Gnome</option>
    <option value="Dragonborn"<%= "selected" if @character.race == "Dragonborn" %>>Dragonborn</option>
    <option value="Halfling"<%= "selected" if @character.race == "Halfling" %>>Halfling</option>
  </select>

  <br>

  <label for="class">Select Class:</label>
  <select name="character_class" id="class">
    <option
    value="Barbarian"
    <%= "selected" if @character.character_class == "Barbarian" %>>
    Barbarian
   </option>
    <option value="Bard"<%= "selected" if @character.character_class == "Bard" %>>Bard</option>
    <option value="Cleric"<%= "selected" if @character.character_class == "Cleric" %>>Cleric</option>
    <option value="Druid"<%= "selected" if @character.character_class == "Druid" %>>Druid</option>
    <option value="Fighter"<%= "selected" if @character.character_class == "Fighter" %>>Fighter</option>
    <option value="Monk"<%= "selected" if @character.character_class == "Monk" %>>Monk</option>
    <option value="Paladin"<%= "selected" if @character.character_class == "Paladin" %>>Paladin</option>
    <option value="Ranger"<%= "selected" if @character.character_class == "Ranger" %>>Ranger</option>
    <option value="Rogue"<%= "selected" if @character.character_class == "Rogue" %>>Rogue</option>
    <option value="Sorcerer"<%= "selected" if @character.character_class == "Sorcerer" %>>Sorcerer</option>
    <option value="Warlock"<%= "selected" if @character.character_class == "Warlock" %>>Warlock</option>
    <option value="Wizard"<%= "selected" if @character.character_class == "Wizard" %>>Wizard</option>
  </select>

  <br>

  <label for="level">Level:</label>
  <input type="number" name="level" id="level" value="<%= @character.level %>"/>

  <br>

  <label for="dungeon_master_campaign">Select Campaign:</label>
  <select name="dm_id" id="dungeon_master_campaign">
     <% for dm in @dms %>
       <option value="<%= dm.id %>"><%= dm.campaign %></option>
     <% end %>
  </select>

  <br>

  <input type="submit" value="Update Character"/>
</form>
