<form action="/characters" method="post">
  <label for="player-name">Player Name:</label>
  <select name="player_id" id="player-name">
    <% @players.each do |player| %>
      <option value="<%= player.id %>"><%= player.format_name %></option>
    <% end %>
  </select>
  <br>
  <label for="character-name">Character Name:</label>
  <input type="text" name="character_name" id="player-name" required/>
  <br>
  <label for="race">Select Race:</label>
  <select name="race_id" id="race">
    <% @races.each do |race_name| %>
      <option value="<%= race_name.id %>"><%= race_name.race %></option>
    <% end %>
  </select>
  <br>
  <label for="class">Select Class:</label>
  <select name="character_class_id" id="class">
    <% @classes.each do |char_class| %>
      <option value="<%= char_class.id %>"><%= char_class.class_name %></option>
    <% end %>
  </select>
  <br>
  <label for="level">Level:</label>
  <input type="number" name="level" id="level" min="1" max="20" required/>
  <br>
  <input type="submit"value="Create New Character"/>
</form>



<!-- <option value="Barbarian">Barbarian</option>
<option value="Bard">Bard</option>
<option value="Cleric">Cleric</option>
<option value="Druid">Druid</option>
<option value="Fighter">Fighter</option>
<option value="Monk">Monk</option>
<option value="Paladin">Paladin</option>
<option value="Ranger">Ranger</option>
<option value="Rogue">Rogue</option>
<option value="Sorcerer">Sorcerer</option>
<option value="Warlock">Warlock</option>
<option value="Wizard">Wizard</option> -->





<!-- <option value="Human">Human</option>
<option value="Half-Elf">Half-Elf</option>
<option value="Half-Orc">Half-Orc</option>
<option value="Drawf">Drawf</option>
<option value="Tiefling">Tiefling</option>
<option value="Gnome">Gnome</option>
<option value="Dragonborn">Dragonborn</option>
<option value="Halfling">Halfling</option> -->
