<form action="index.html" method="post">

   <label for="dm-id">DM - Adventure:</label>
   <br>
   <select name="dm_id">
       <option value="<%= @dm.id %>"><%= @dm.dm_name %> - <%= @dm.campaign.campaign_name %></option>
   </select>
   <br>
   <br>
   <label for="">Select Your Party:</label>
   <br>
   <br>
   <% @characters.each do |character| %>
   <% if ((character.level >= @dm.min_level) && (character.level <= @dm.max_level))  %>
   <input type="checkbox" name="character_id" id="character" value="<%= character.id%> ">
   <label for="character">
     Player: <%= character.player_name %>
     <br>
     Character Name: <%= character.character_name %>
     <br>
     Race: <%= character.race.race %>
     <br>
     Class: <%= character.character_class.class_name %>
     <br>
     Level: <%= character.level %>
   </label>
   <br>
   <br>

   <% end %>
   <% end %>
</form>
