<h1>DUNGEONS & DRAGONS</h1>

<h3><u>DM</u><br><%= @dm.dm_name %></h3>
<h4><u>Campaign</u><br><%= @dm.campaign.campaign_name %></h4>
<br>
<% for character in @dm.characters_in_campaign %>
<div class="boxed">
  <p>Player: <%= character.player_name %></p>
  <p>Character Name: <%= character.character_name %></p>
  <p>Race: <%= character.race.race %></p>
  <p>Class: <%= character.character_class.class_name %></p>
  <p>Level: <%= character.level %></p>
  <br>
</div>
<br>
<% end %>

<form action="/dungeon-masters/<%= @dm.id %>/character-dms/delete-party" method="post">
  <input type="submit" value="End Session">
</form>
